<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.10153 0.059553 0.056505"
        rpy="0 0 0" />
      <mass
        value="0.43622" />
      <inertia
        ixx="0.00082285"
        ixy="2.913E-06"
        ixz="-4.0176E-08"
        iyy="0.00064528"
        iyz="-1.0207E-06"
        izz="0.0013806" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="first_Link">
    <inertial>
      <origin
        xyz="-0.0016876 5.2727E-05 0.037491"
        rpy="0 0 0" />
      <mass
        value="0.27473" />
      <inertia
        ixx="0.00013933"
        ixy="1.4213E-09"
        ixz="1.1191E-07"
        iyy="0.00014014"
        iyz="-1.8275E-07"
        izz="0.00022755" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/first_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/first_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="first_yaw"
    type="revolute">
    <origin
      xyz="0.16463 -0.043952 0.059652"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="first_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="second_Link">
    <inertial>
      <origin
        xyz="-1.2712E-05 2.4438E-05 0.14715"
        rpy="0 0 0" />
      <mass
        value="0.13965" />
      <inertia
        ixx="0.00022774"
        ixy="2.6131E-12"
        ixz="1.4187E-09"
        iyy="0.00022298"
        iyz="-1.8276E-07"
        izz="2.3425E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/second_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/second_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="second_pitch"
    type="revolute">
    <origin
      xyz="1.2085E-05 0.000725 0.095227"
      rpy="0 0 0" />
    <parent
      link="first_Link" />
    <child
      link="second_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="third_Link">
    <inertial>
      <origin
        xyz="-1.2712E-05 2.4438E-05 0.14715"
        rpy="0 0 0" />
      <mass
        value="0.13965" />
      <inertia
        ixx="0.00022774"
        ixy="2.6131E-12"
        ixz="1.4187E-09"
        iyy="0.00022298"
        iyz="-1.8276E-07"
        izz="2.3425E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/third_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/third_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="third_pitch"
    type="revolute">
    <origin
      xyz="0 0.000475 0.244"
      rpy="0 0 0" />
    <parent
      link="second_Link" />
    <child
      link="third_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foutrh_Link">
    <inertial>
      <origin
        xyz="-0.00017232 0.00047404 0.065219"
        rpy="0 0 0" />
      <mass
        value="0.090943" />
      <inertia
        ixx="5.4292E-05"
        ixy="-2.6131E-12"
        ixz="1.8276E-07"
        iyy="4.9911E-05"
        iyz="1.4187E-09"
        izz="2.972E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/foutrh_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/foutrh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fourth_pitch"
    type="revolute">
    <origin
      xyz="0 0 0.244"
      rpy="0 0 0" />
    <parent
      link="third_Link" />
    <child
      link="foutrh_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fifth_Link">
    <inertial>
      <origin
        xyz="8.9768E-05 -1.3047E-05 -0.028381"
        rpy="0 0 0" />
      <mass
        value="0.090943" />
      <inertia
        ixx="5.4292E-05"
        ixy="-2.6131E-12"
        ixz="1.8276E-07"
        iyy="4.9911E-05"
        iyz="1.4187E-09"
        izz="2.972E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/fifth_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/fifth_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fifth_pitch"
    type="revolute">
    <origin
      xyz="-0.00026209 0.00048709 0.0936"
      rpy="0 0 0" />
    <parent
      link="foutrh_Link" />
    <child
      link="fifth_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="sixth_Link">
    <inertial>
      <origin
        xyz="-0.0084341 -1.3676E-06 -0.0089971"
        rpy="0 0 0" />
      <mass
        value="0.063937" />
      <inertia
        ixx="1.2986E-05"
        ixy="1.4187E-09"
        ixz="2.8117E-07"
        iyy="2.4205E-05"
        iyz="2.6322E-12"
        izz="2.0655E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/sixth_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_arm/meshes/sixth_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sixth_roll"
    type="revolute">
    <origin
      xyz="-0.000475 -1.2085E-05 0.049873"
      rpy="0 0 0" />
    <parent
      link="fifth_Link" />
    <child
      link="sixth_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>